/node_modules
/vendor

/.idea
Homestead.json
Homestead.yaml

# Laravel 5 & Lumen specific
bootstrap/cache/
bower_components/
.idea/
/public/storage
/public/css
/public/js
Envoy.blade.php
api_blueprint.md
.idea/

.env.*.php
.env.php
.env

