// Buttons
.btn{
  padding: 10px 20px;
  border: none;
  transition-duration: .2s;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.btn:hover{
  opacity: .95;
}
.btn:focus,
.btn:active{
  outline: none;
  border: none;
}
.btn.btn-wide{
  width: 100%;
}
.btn-default{
  background-color: $color-default-grey;
}
.btn.btn-primary{
  background-color: $color-primary-light;
}
.btn.btn-primary.btn-line{
  color: $color-primary-light;
  border: 1px solid $color-primary-light;
  background: transparent;
  box-shadow: none;
}
.btn.btn-primary.btn-line:hover{
  background-color: $color-primary-light;
  color: #fff;
}
.btn-special{
  background-color :#f81280;
  color: #fff;
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 20px 130px;
  margin-top: 40px;
}
.btn-special:hover{
  background-color: #d11264;
  color: #fff;
}