// SIDE NAV SECTION
$side-nav-padding: 20px;

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: $color-primary-dark;
  color: rgba(150,150,150,.2);
}
.sidebar a{
  color: rgba(150,150,150,.6);
  transition-duration: .2s;
}
.sidebar a:hover{
  color: #fff;
  text-decoration: none;
}
.sidebar .logo-section{
  display: block;
  padding: 10px 25px;
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  text-align: left;
  background-color: $color-primary-light;
}
.sidebar .logo-section p{color: #fff; margin-bottom: 0}
.sidebar .logo-section p:hover{text-decoration: none}
.sidebar .user-section{padding: 25px; text-align: center;}
.sidebar .user-section p{color: #fff; text-align: center;}
.sidebar .user-section img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}
.sidebar .search input{
  border-radius: 0;
  border: none;
  background-color: rgba(150,150,150,.2);
  padding: 10px 20px;
  color: #fff;
}
.sidebar .search input:focus{
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidebar .menu h3{
  font-size: 1.2em;
  padding-left: $side-nav-padding;
  padding-right: $side-nav-padding;
  color: rgba(150,150,150,.6);
}
.sidebar .menu a{
  display: block;
  font-size: .95em;
  box-sizing: border-box;
  padding: 6px 16px;
  border-left: 4px solid $color-primary-dark;
}
.sidebar .menu a:hover,
.sidebar .menu a.active{
  border-left: 4px solid $color-primary-light;
  color: #fff;
}
.sidebar .menu a:last-child{margin-top: 20px;}
.sidebar .line{
  padding-left: $side-nav-padding;
  padding-right: $side-nav-padding;
}
.sidebar .menu a i{
  display: inline-block;
  width: 20px;
  font-size: 1.3em;
  padding-right: 10px;
}
.sidebar .menu a:last-child i{
  position: relative;
  top: 1px;
}
.sidebar .line hr{
  border-top: none;
  height: 2px;
  background-color: rgba(150,150,150,.1);
  margin-top: 40px;
}
.sidebar .footer{
  padding-left: $side-nav-padding;
  padding-right: $side-nav-padding;
}
.sidebar .footer {text-align: center}
.sidebar .footer p{font-size: .8em}