// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.



// enable flex
$enable-flex: true;
//$enable-rounded: true;

$background-color: #f2f4f3;
$color-primary-light: #26b2ad;
$color-primary-dark: #3e3e3e;
$color-primary-dark-two: #333545;
$color-mint: #e1f2f1;
$color-badge: #10e1c2;
$color-panel-heading: #d3dddf;
$color-default-grey: #ebefef;
$color-default-text: #444;
